* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app {
  display: grid;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  color: black;
  font-size: 18px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 20px;
}

.app div {
  background-color: #f0f0f0;
  padding: 100px;
  border-radius: 5px;
  border: 1px solid rgb(209, 207, 207);
  text-align: center;
  user-select: none;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  cursor: pointer;
}